PORT=4000
DATABASE_URL="postgresql://gen_user:RPAdmin%21@d84b4c4a4a6a7e042c5c1485.twc1.net:5432/default_db?sslmode=require"
JWT_SECRET="super_secret_repup_key"
VK_APP_SECRET="your_vk_app_secret"
CLIENT_URL="http://localhost:5174"
